*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: #F1F1F3;
    color: #fff;
    padding: 5%;
}
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navigation h1{
    color: #0E0E0E;
}